
:root {
  --shadow: 0px 1px 2.2px rgba(0, 0, 0, 0.02),
  0px 2.5px 5.3px rgba(0, 0, 0, 0.028), 0px 4.6px 10px rgba(0, 0, 0, 0.035),
  0px 8.3px 17.9px rgba(0, 0, 0, 0.042), 0px 15.5px 33.4px rgba(0, 0, 0, 0.05),
  0px 37px 80px rgba(0, 0, 0, 0.07);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.tilting-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  border: 3px solid lime;
}

.tilting-card-content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: grid;
  place-content: center;
  text-align: center;
  box-shadow: var(--shadow);
  padding: 2rem;
  aspect-ratio: 1 / 2;
}

.mouse-position-tracker {
  position: absolute;
  inset: 0;
  background: blue;
  opacity: .2;
}

/* 1, 4, 7 */
.mouse-position-tracker:nth-of-type(3n - 2) {
  background: yellow;
  grid-column: 1 / 2;
}

/* 2, 5, 8 */
.mouse-position-tracker:nth-of-type(3n - 1) {
  background: green;
  grid-column: 2 / 3;
}

/* 3, 6, 9 */
.mouse-position-tracker:nth-of-type(3n) {
  background: red;
  grid-column: 3 / 4;
}

/* 1-3 */
.mouse-position-tracker:nth-child(n + 1):nth-child(-n + 3) {
  grid-row: 1 / 2;
}

/* 4-6 */
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
  grid-row: 2 / 3;
}

/* 7-9 */
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
  grid-row: 3 / 4;
}